@{
    ViewBag.Title = "Home Page";
}


<script src="~/Scripts/EmployeeReport.js"></script>
<div class="row">
    <div class="col-md-4">
        <button id="btnGenerate">Load Report</button>
    </div>
</div>